<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<body>
    @using DAL;
    @{
        string UserEmail = "";
        
        HttpCookie aCookie = Request.Cookies["UserEmail"];
        if (aCookie != null)
        {
            UserEmail = Server.HtmlEncode(aCookie.Value);
        }

        string userName = "";
        string userId = "";
        if (!string.IsNullOrEmpty(UserEmail)) {
            string userNameQuery = "Select user_name from User_Acc where user_email = '" + UserEmail + "'";
            userName = new SqlHelper().ExecuteDataTable(userNameQuery).Rows[0]["user_name"].ToString();
            userId = new UserInfoDAL().UserId(UserEmail).ToString();
        }
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("黑店游戏周边", "GoodsList", "Goods", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (!string.IsNullOrEmpty(userName))
                        {
                            <li><a>您好，@(userName)</a></li>
                        <li><a href="/User/UserInfos?email=@(UserEmail)">个人资料</a></li>
                        <li><a href="/OrderForm/Cart">购物车</a></li>
                        <li><a href="/OrderForm/OrderFormList?userId=@(userId)">我的订单</a></li>
                    <li><a href="/User/Logout">退出</a></li>
                        }
                        else
                        {
                            <li><a href="/User/Login">您好，请登录</a></li>
                        }
}
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 黑店游戏周边商城</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
